{% extends 'core/inicio.html'%}

{%block contenido%}
        
                <div class="content center-xs row" >
                                <form action="" method="POST" class="table">
                                                {%csrf_token%}
                                                
                                            
                                                        {{form.as_table}}
                                                        
                                                    <input type="submit" name="" id="">
                                                
                                        
                                         
                                            </form>
                                        
                                            <a href="{% url 'social:begin' 'facebook' %}">Iniciar con facebook</a>


                </div>
               
                
        
   
        


{%endblock contenido%}





