{%extends 'core/inicio.html' %}




{%block contenido%}
<div class="content row center-xs">
 
    <form action="" method="POST" enctype="multipart/form-data"  class="form-addPost form-post  form ">
      {% csrf_token %}
        <div class="col col-add ">
          
          <input type="text" name="txt_titulo" id="txt_titulo" class="form-control" placeholder="Titulo">
        </div>
        <div class="col col-add">
          <input type="text" name="txt_valor"   id="txt_valor" class="form-control" placeholder="$ valor arriendo">
        </div>
         <div class="col col-add">
          <input type="text" name="txt_descripcion" id="txt_descripcion" class="form-control" placeholder="descripcion">
        </div>


        <div class="group-img row">
        <div class="col form-group">
            <label for="">Imagen #1:</label>
            <input type="file" class="form-control-file" id="txt_imagen0" name="txt_imagen0">
          </div>
          <div class="col form-group">
              <label for="">Imagen #2:</label>
              <input type="file" class="form-control-file" id="txt_imagen1" name="txt_imagen1">
            </div>
        
            <div class="col form-group">
                <label for="">Imagen #3:</label>
                <input type="file" class="form-control-file" id="txt_imagen2" name="txt_imagen2">
              </div>
            </div>
    
        <button type="submit" class="btn btn-primary">guardar</button>
        <div class="alert alert-primary" role="alert">
          {{mensaje}}
        </div>

    </form>

    

</div>





{%endblock contenido%}