{%extends 'core/inicio.html' %}




{%block contenido%}
<div class="content">
 
    <form action="" method="POST" enctype="multipart/form-data"  class="form-addPost form-post  form ">
      {% csrf_token %}
        <div class="col ">
          
          <input type="text" name="txt_titulo" id="txt_titulo" class="form-control" placeholder="Titulo">
        </div>
        <div class="col">
          <input type="text" name="txt_valor"   id="txt_valor" class="form-control" placeholder="valor arriendo">
        </div>
         <div class="col">
          <input type="text" name="txt_descripcion" id="txt_descripcion" class="form-control" placeholder="descripcion">
        </div>
        <div class="col form-group">
            <label for="">Imagen:</label>
            <input type="file" class="form-control-file" id="txt_imagen" name="txt_imagen">
          </div>
      

    
        <button type="submit" class="btn btn-primary">guardar</button>
        <div class="alert alert-primary" role="alert">
          {{mensaje}}
        </div>

    </form>

    

</div>





{%endblock contenido%}