  <!DOCTYPE html>
  <html lang="en">
  <head> 

      {%load static %}
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" href="{% static 'css/estilo.css'  %}">
      <link rel="stylesheet" href="{% static 'css/flexboxgrid.min.css'  %}">
      <link rel="stylesheet" href= " {%  static 'css/registro-form.css'  %}">
      <link rel="stylesheet" href= " {%  static 'css/post.css'  %}">
      <link rel="stylesheet" href= " {%  static 'css/agregarpost.css'  %}">
      {%load pwa%}
      {%progressive_web_app_meta%}  

        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.9.0/firebase-messaging.js"></script>


<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

        <script>
          // Your web app's Firebase configuration
          var firebaseConfig = {
            apiKey: "AIzaSyAlp-k19isX-H1ca5JY3ETIJnl3Nozrsu4",
            authDomain: "cabanas-960af.firebaseapp.com",
            databaseURL: "https://cabanas-960af.firebaseio.com",
            projectId: "cabanas-960af",
            storageBucket: "cabanas-960af.appspot.com",
            messagingSenderId: "697270057166",
            appId: "1:697270057166:web:8329c2f1c107e58225389f"
          };
          // Initialize Firebase
            firebase.initializeApp(firebaseConfig);

            let  messaging = firebase.menssaging();

          // enlazar serviceworker
            navigator.serviceWorker
            .register('./serviceworker.js')
            .then(function (register) {

                messaging.useServiceWorker(register);


                // Solicitar permisos para recibir notificaciones al usuario
                messaging.requestPermission()
                .then(function(){
                console.log("usuario ha aceptado recibir notificaciones")
                })
                .catch(function(e){
                console.log("el usuario no ha aceptado")
                })

            })

        </script>
      
      


       {%block titulo%}
      <title>Inicio</title>
      {%endblock titulo%}
  </head>
  <body>
   
    
     <div class="cont"> 



     
     <img width=  "100%" height="400px" src=" {% static 'img/index-img/Portada.jpg'%} " alt="">
     
    <nav class="navbar navbar-mobile  navbar-expand-lg navbar-dark bg-dark">
         
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
         
         
          <li class="nav-item">
            <a class="nav-link nav-1" href="{%url 'inicio' %}">Home</a>
          </li>
          
          
         
          {%if user.is_authenticated %}
          <li class="nav-item ">
              <a class="nav-link nav-1" href="#"> {{user.username}} </a>
            </li>

            <li class="nav-item">
                <a class="nav-link nav-1" href="{%url 'logout' %}">Cerrar  sesion</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="{%url 'agregarPost'%}">subir post <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{%url 'modificar'%}">Modificar post<span class="sr-only">(current)</span></a>
                </li>
            
          {%else%}
          <li class="nav-item">
              <a class="nav-link nav-1" href="{%url 'login' %}">Iniciar sesion</a>
           </li>
           <li class="nav-item active">
              <a class="nav-link" href="{%url 'registrar-form'%}">Registrate <span class="sr-only">(current)</span></a>
            </li>

              
          {% endif %}
          
        </ul>
      </div>
    </nav>
    

{% block  contenido %}
<div  class="content center-xs row col-xs "> <!-- cambie un row pra probar algo en el css y nose que era -->
        {%for p in post %}

      
    
       
                <div class="card center-xs col-xs-4"  style="width: 18rem;">
                    <a target="a_blank" href="{%url 'post' p.id%}" >
                    {%if p.imagen1  %}
                    <img  src="{{ p.imagen1.url }}" class=""   height="100px"  class="card-img-top" alt="...">
                    {% endif %}    
                    <div class="card-body">
                       
                      <h5 class="card-title">{{p.titulo}}</h5>
                      <h5 class="card-title">${{p.valor}}</h5>     
                      <p class="card-text">{{p.descripcion}}</p>
                      
                      
                      
                    </div>
                    
          

                  </a>    
               </div>
      
        {%endfor%}
           
</div>
{% endblock contenido  %}

      <footer class="page-footer font-small blue">

          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2018 Copyright:
            <a href="https://mdbootstrap.com/education/bootstrap/"> khe pahoo!</a>
          </div>
          <!-- Copyright -->
        
        </footer>
      </div>
     
     
      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <script
          src="https://code.jquery.com/jquery-3.4.1.min.js"
          integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
          crossorigin="anonymous"></script>
      <link rel="stylesheet" href="javascript/index.js">
  </body>
  </html>