{%extends 'core/inicio.html'%}

{% block  contenido %}
<div class="content">
   
        <table class="table">
          
            <tr>
               <th>Titulo</th>
               <th>valor</th>
               <th>descripcion</th> 
               <th>imagen</th> 
               <th>opcion</th>   
               

            </tr>    

            <tr>
                  {%for p in post%}
                    <td>{{ p.titulo }}</td>
                    <td>${{p.valor}}</td>
                    <td>{{p.descripcion}}</td>
                    <td>
                    {%if p.imagen%}        
                    <img src="{{ p.imagen.url }}" height="100px" width="100px" alt="">
                    {% endif %}
                    </td>
                    <td>
                            <a href="{% url 'eliminarPost' p.id %}"> eliminar</a>
                            <br>
                            <a href="{% url 'modificarPost' p.id %}">modificar</a>
                            
                    </td>
                    
                    
                    
            </tr>
            {%endfor%}

        </table>

        {%if messages%}
         {%for m in messages%}
         <div>m</div>
         {%endfor%}
        {%endif%}











</div>
{% endblock contenido  %}