
.cont{
     width: 100%;
    background: #5d5d5d;
    
}
    .card{
    
        box-shadow: 25px 24px 20px -4px rgba(0,0,0,0.75);
        border: 1px solid black;
        display: flex;
        background: white;
        border-radius: 5px;
        height: 400px;
        margin: 20px;
    
    }
       .page-footer{
        
        background: grey;
        bottom: 0%;
        color: blanchedalmond;

    }

