.cont-post{
    padding-bottom: 300px;
}


.content-descripcion{
    margin: auto;
    background:  #707b7c ;
    opacity: 90%;
    width: 300px;
    float: left;
    border: 1px solid black;
    color: white;
    height: 350px;

}


a{
    display: block;
    text-decoration: none;
}
.descrip-post{
 
    width: 400;
    margin-left: 20px;
    color:black;
}








